! URxvt

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False

!Transparency
URxvt.depth: 20
URxvt.background: #000000

! Border
!URxvt.internalBorder: 5 

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:SauceCodePro Nerd Font Mono:size=12, \
            xft:DejaVuSansMono Nerd Font:size=12, \
            xft:DroidSansMono Nerd Font:size=12, \
            xft:FuraMono Nerd Font:size=12, \
            xft:RobotoMono Nerd Font:size=12, \
            xft:Noto Sans Mono:size=12, \
            xft:Monospace:style=Medium:size=12   

!Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4

!url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true

!keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!resize-font
URxvt.resize-font.smaller: A-Up
URxvt.resize-font.bigger:  A-Down

!Matcher
URxvt.url-launcher:	firefox
URxvt.matcher.button: 1

!Clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.clipboard.autocopy: true
Xcursor.size: 16
